.card-project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 240px;
  height: 240px;
  box-shadow: 7px 7px 0 #54a467;
}

.card-project .logo {
  width: auto;
  height: 60px;
}
