.section {
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 7px solid #f6de32;
}

.section .main-title {
  margin-bottom: 60px;
}

.section.bg-yellow {
  background-color: #f6de32;
}

.section.bg-white {
  background-color: #fff;
}
